<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jakobzeise.coursescheduler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CourseScheduler">
        <activity
            android:name=".view.TermActivity"
            android:exported="false"/>
        <activity
            android:name=".MentorActivity"
            android:exported="false" />
        <activity
            android:name=".AssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".view.CourseActivity"
            android:exported="false" />
        <activity
            android:name=".view.AddMentorActivity"
            android:exported="false" />
        <activity
            android:name=".view.AddTermActivity"
            android:exported="false" />
        <activity
            android:name=".view.MentorListActivity"
            android:exported="false" />
        <activity
            android:name=".view.AssessmentListActivity"
            android:exported="false" />
        <activity
            android:name=".view.CourseListActivity"
            android:exported="false" />
        <activity
            android:name=".view.TermListActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>